### 窗口大小
gameWidth=1500
gameHeight=820

### 各种子弹...........................................
# 默认子弹伤害, 速度
bulletDamage_1=50
bulletSpeed_1=5
# 初级导弹伤害, 速度
bulletDamage_2=150
bulletSpeed_2=4
# 中级导弹伤害, 速度
bulletDamage_3=300
bulletSpeed_3=3
# 高级导弹伤害, 速度
bulletDamage_4=600
bulletSpeed_4=2
# 核弹伤害, 速度
bulletDamage_5=1200
bulletSpeed_5=1
# 蓝色光束伤害, 速度 , 停止计数
bulletDamage_6=50
bulletSpeed_6=15
blueBeamMovingCnt=100
# 红色光束伤害, 速度 , 破解计数
bulletDamage_7=50
bulletSpeed_7=15
redBeamPeneCnt=500
# 绿色光束伤害, 速度
bulletDamage_8=50
bulletSpeed_8=15
greenBeamPoisonCnt=1000
poisonDamage=30


### 地图资源属性.......................................
# 墙壁的生命值
wallHealth=150
# 医疗箱回复的生命值
medkitHealth=500
# 爱心回复的生命值
loveHealth=100

### 刷新策略...........................................
## 默认策略......................
# 坦克数量限制
defaultFlashMaxTank=10
# 医疗箱数量限制
defaultFlashMaxMedkit=2
# 爱心数量限制
defaultFlashMaxLove=5
# 水晶数量限制
defaultFlashMaxCrystal=10

#### 坦克........................................................
### 基本坦克类型................................
## 红色坦克......................
# 初始生命值
redTankHealth=1000
# 初始速度
redTankSpeed=2
# 能携带的子弹种类限制
redTankFireStrategyMax=4
# 护甲与穿透
redTankArmor=50
redTankPene=50
## 开火冷却
redCanFireCnt=40
## 绿色坦克......................
# 初始生命值
greenTankHealth=1200
# 初始速度
greenTankSpeed=2
# 能携带的子弹种类限制
greenTankFireStrategyMax=4
# 护甲与穿透
greenTankArmor=80
greenTankPene=20
## 开火冷却
greenCanFireCnt=40
## 轻量级坦克......................
# 初始生命值
flyTankHealth=800
# 初始速度
flyTankSpeed=4
# 能携带的子弹种类限制
flyTankFireStrategyMax=3
# 护甲与穿透
flyTankArmor=20
flyTankPene=20
## 开火冷却
flyCanFireCnt=30
## 重量级坦克......................
# 初始生命值
heavyTankHealth=1500
# 初始速度
heavyTankSpeed=1
# 能携带的子弹种类限制
heavyTankFireStrategyMax=5
# 护甲与穿透
heavyTankArmor=120
heavyTankPene=0
## 开火冷却
heavyCanFireCnt=50
### 超级坦克类型................................
# 初始生命值
crabTankHealth=2000
# 初始速度
crabTankSpeed=2
# 能携带的子弹种类限制
crabTankFireStrategyMax=10
# 护甲与穿透
crabTankArmor=100
crabTankPene=100
## 开火冷却
crabCanFireCnt=10